/* Video Arka Plan */
.main {
    position: relative;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center; /* İçeriği tam ortalama */
}

.main video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -2;
}

/* Karartma Katmanı */
.main::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Karartma efekti */
    z-index: -1;
}

/* İçerik */
.main .content {
    position: relative;
    text-align: center;
    color: white;
    z-index: 1;
}

.main .content h2 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.main .content p {
    font-size: 1.5rem;
}
